:root {
 --background: #faeee7;
 --headline: #33272a;
 --text: #e30b5c;
 --main: #fffffe;
 --highlight: #ff8ba7;
 --secondary: #ffc6c7;
 --background2: #e30b5c;

 /*other vars */
 --transition: 0.3s ease-in-out all;
 --max-width: 1120px;
}

/* Box sizing rules */
*,
*::before,
*::after {
 box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
 margin: 0;
}

body {
 background: var(--background);
 font-family: 'Montserrat', sans-serif;
 line-height: 1.75;
 color: var(--text);
}

p {
 margin-bottom: 1rem;
 max-width: 40em;
 line-height: 1.75;
 font-size: 1.4rem;
 font-weight: 400;
}

h1 {
 margin-top: 0;
 font-size: 3.052rem;
}

h2 {
 font-size: 2.441rem;
 text-transform: uppercase;
}

h3 {
 text-transform: uppercase;
 color: var(--text);
 font-size: 2.5em;
 font-weight: 600;
 line-height: 1.5;
 padding-bottom: 0.5em;
 margin: 0 0 0.142857143em;
 transition: color 0.45s ease, border 0.45s ease;
 text-align: center;
}

h4 {
 font-size: 1.563rem;
 text-align: center;
}

h5 {
 font-size: 1.25rem;
}

a {
 text-decoration: none;
}
ul {
 list-style-type: none;
 padding: 0;
}

img {
 max-width: 100%;
 display: block;
 object-fit: cover;
}

span {
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
 color: var(--text);
 margin-top: 2rem;
 transition: var(--transition);
}

/* Grid Styles */
.container {
 display: grid;
 grid-auto-columns: 1fr;
 grid-template-areas:
  'nav'
  'hero'
  'card1'
  'card2'
  'card3'
  'more1'
  'more2'
  'footer';
}

nav {
 grid-area: nav;
 grid-column: 1/2;
 grid-row: 1/2;
}

#hero {
 grid-area: hero;
 grid-column: 1/2;
 grid-row: 2/3;
 margin-bottom: 4rem;
}

#card1 {
 grid-area: card1;
 grid-column: 1/2;
 grid-row: 3/4;
 margin: 4rem 2rem;
 margin-left: 4rem;
}

#card2 {
 grid-area: card2;
 grid-column: 1/2;
 grid-row: 4/5;
 margin: 4rem 2rem;
}
#card3 {
 grid-area: card3;
 grid-column: 1/2;
 grid-row: 5/6;
 margin: 4rem 2rem;
}

#more1 {
 grid-area: more1;
 grid-column: 1/2;
 grid-row: 6/7;
 margin-top: 4rem;
 background: var(--main);
}

#more2 {
 grid-area: more2;
 grid-column: 1/2;
 grid-row: 7/8;
}

footer {
 grid-area: footer;
 grid-column: 1/2;
 grid-row: 8/9;
 margin: 2rem 0;
}

/* hero section */
.hero {
 height: 300px;
 position: relative;
 padding: 20px;
 display: flex;
 align-items: center;
 border: 4px solid #b0215e;
 overflow: hidden;
 background-image: url('../src/assets/happy.jpeg');
 background-size: 100% 100%;
}

.hero .inner {
 position: absolute;
 top: 60%;
 width: 90%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1.5rem;
 margin-bottom: 2rem;
 margin-left: 2rem;
}

.hero p {
 display: flex;
 color: var(--main);
 text-align: left;
 font-weight: bold;
 font-size: 1rem;
 position: absolute;
}

.hero span {
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 600;
 color: var(--main);
 margin-top: 2rem;
 transition: var(--transition);
 top: 80%;
}

span:hover {
 font-size: 1.5rem;
}

.card {
 display: flex;
 flex-direction: column;
 max-width: 20.75em;
 overflow: hidden;
 border-radius: 0.5em;
 text-decoration: none;
 background: white;
 margin: 1em;
 padding: 2.75em 2.5em;
 box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
 transition: transform 0.45s ease, background 0.45s ease;
}

.card h3 {
 padding-bottom: 0.5em;
 margin: 0 0 0.142857143em;
 border-bottom: 2px solid var(--text);
 transition: color 0.45s ease, border 0.45s ease;
}

.card h4 {
 margin: 1.5 0 1.777777778em;
 transition: color 0.45s ease;
}

.card p {
 opacity: 0;
 color: #ffffff;
 font-weight: 400;
 line-height: 1.8;
 margin: 0 0 1.25em;
 transform: translateY(-1em);
 transition: opacity 0.45s ease, transform 0.5s ease;
 text-align: justify;
 font-size: 1.25em;
}

.card:hover {
 background: var(--text);
 transform: scale(1.02);
}
.card:hover span {
 color: #fff;
}
.card:hover h3 {
 color: #fff;
 border-bottom-color: var(--main);
}
.card:hover h4 {
 color: #fff;
}
.card:hover p {
 opacity: 1;
 transform: none;
}

.card span:hover {
 color: var(--main);
}

@keyframes point {
 0% {
  transform: translateX(0);
 }
 100% {
  transform: translateX(0.125em);
 }
}

.more {
 display: flex;
 flex-direction: column;
 margin-bottom: 2rem;
 padding: 3rem;
 width: 100%;
}

.more__img {
 flex: 1;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 margin-left: 2rem;
}

.more__img img {
 width: 60%;
 border-radius: 15px 50px;
 border: 10px solid var(--highlight);
}

.more-text {
 max-width: 500px;
 text-align: justify;
 justify-self: center;
 padding: 20px 0;
 margin: 0 auto;
 line-height: 1.7rem;
}

.more-reversed :first-child {
 order: 2;
}

.footer {
 margin-top: 3rem;
 text-align: center;
 font-size: 1rem;
}

/* Media Queries */

@media (min-width: 768px) {
 .container {
  grid-template-columns: repeat(3 1fr);
  grid-template-areas:
   'nav'
   'hero'
   'card1 card2 card3'
   'more1'
   'more2'
   'footer';
 }

 nav {
  grid-area: nav;
  grid-column: 1/4;
  grid-row: 1/2;
 }

 #hero {
  grid-area: hero;
  grid-column: 1/4;
  grid-row: 2/3;
  margin-bottom: 4rem;
 }

 #card1 {
  grid-area: card1;
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 4rem 2rem;
  margin-left: 4rem;
 }

 #card2 {
  grid-area: card2;
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 4rem 2rem;
 }
 #card3 {
  grid-area: card3;
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 4rem 2rem;
 }

 #more1 {
  grid-area: more1;
  grid-column: 1/4;
  grid-row: 4/5;
  margin-top: 4rem;
  background: var(--main);
 }

 #more2 {
  grid-area: more2;
  grid-column: 1/4;
  grid-row: 5/6;
 }

 footer {
  grid-area: footer;
  grid-column: 1/4;
  grid-row: 6/7;
  margin: 2rem 0;
 }

 .hero {
  height: 500px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  background-size: cover;
 }

 .hero .inner {
  position: absolute;
  height: 60%;
  top: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 1.7rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
 }

 .hero p {
  font-size: 24px;
  color: var(--headline);
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin-bottom: -1rem;
 }

 .hero span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--background2);
  margin-top: 2rem;
  transition: var(--transition);
  top: 80%;
  margin: 1rem 0;
 }

 span:hover {
  font-size: 1.4rem;
 }

 .more {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
 }

 more-text {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
  line-height: 1.7rem;
 }

 /* Navbar */
 .app__navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

 .app__navbar-right a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
  font-weight: bold;
 }

 .app__navbar-right a:hover {
  border-bottom: 1px solid var(--color-golden);
 }

 .app__navbar-right div {
  width: 1px;
  height: 30px;
  background: var(--color-grey);
 }
}

@media (min-width: 1040px) {
 .more {
  margin-right: auto;
  margin-left: auto;
 }
}
